.my-navbar-default {
  @extend .navbar-default !optional;
  background-color: $header-background-color;
  color: $header-color;
  .my-navbar-brand {
    @extend .navbar-brand !optional;
    color: $header-color;
  }
  .my-navbar-nav {
    @extend .navbar-nav !optional;
    & > li {
      & > a {
        color: $header-color;
      }
    }
    & > .open {
      & > a {
        background-color: $header-background-color;
        opacity: 0.7;
      }
    }
  }
}

.header-icon-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.my-dropdown-menu {
  @extend .dropdown-menu !optional;
  min-width: 200px;
  top: 105%;
  border-color: $header-border-color;
}

@media (max-width:767px) {
  .my-navbar-default {
    .navbar-toggle {
      background-color: #fff;
    }
  }
}
