.l-margin-default {
  margin: 18px;
}
.l-margin-large-top {
  margin-top: 36px;
}
.l-margin-default-top {
  margin-top: 18px;
}
.l-margin-small-top {
  margin-top: 5px;
}
.l-margin-default-bottom {
  margin-bottom: 18px;
}
.l-margin-large-bottom {
  margin-bottom: 36px;
}
.l-margin-default-left {
  margin-left: 18px;
}
.l-margin-small-left {
  margin-left: 5px;
}
.l-margin-large-left {
  margin-left: 36px;
}