.l-padding-default {
  padding: 18px;
}
.l-padding-large-top {
  padding-top: 36px;
}
.l-padding-default-top {
  padding-top: 18px;
}
.l-padding-small-bottom {
  padding-bottom: 10px;
}
.l-padding-default-bottom {
  padding-bottom: 18px;
}
.l-padding-large-bottom {
  padding-bottom: 36px;
}
.l-padding-default-left {
  padding-left: 18px;
}
.l-padding-small-left {
  padding-left: 5px;
}
.l-padding-large-left {
  padding-left: 36px;
}